{% extends "gallery/base.html" %}
{% load staticfiles i18n %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %}
  {{ block.super }} | Authors
{% endblock bootstrap3_title%}



{% block content %}
{% for a in author_list %}
   {% if forloop.counter0|divisibleby:3 and not forloop.first %}
  </div>
  {% endif %}
  {% if forloop.counter0|divisibleby:3 %}
  <div class="row">
  {% endif %}
            <div class="author col-md-3">
                <p><a href="{{a.get_absolute_url}}">{{a.name}}</a></p>
                <p class="author-note">{{a.photo_set.count}}</p>
            </div>
   {% if forloop.last %}
  </div>
  {% endif %}

{% endfor %}
{% endblock content%}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

    <script>
      function submituser() {
        location.href = author.value
      }
    </script>
{% endblock bootstrap3_extra_script %}
