{% extends "gallery/base.html" %}
{% load staticfiles i18n %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %}
  {{ block.super }} | Authors
{% endblock bootstrap3_title%}



{% block content %}
{% regroup photo_list by post_date|date:"Y" as photo_years %}


  {% for y in photo_years %}
  <h2> {{ y.grouper }} <h2/>
  {% regroup y.list by post_date|date:"m" as photo_months %}

    <p>
    {% for m in photo_months %}
    {% if not forloop.first %} | {% endif %}
      {% with forloop.counter0 as position %}
      {{m.grouper}} :
      {% endwith %}
      <a href="{{y.grouper}}/{{m.grouper}}">{{m.list|length}}</a>
    {% endfor %}
    </p>

  {% endfor %}


{% endblock content%}

