{% load el_pagination_tags %}

{% paginate 3 photo_list %}

{% for p in photo_list %}
       <div class="photo-block row" id='{{p.id}}'>
            <div class="photo col-md-9">
                <img src='{{p.photo_low_res.url}}' alt='{{ p.id }}'/>
            </div>
            <div class="photo-side col-md-3">
              <div class="permalink">
                <a href="{{p.get_absolute_url}}">#{{forloop.counter}}</a>
              </div>
              <div class="photo-author">
                <a href="{{p.post_url}}"> posted on {{p.post_date|date:"D d M Y" }}</a>, by
                 <a href="{{p.author.get_absolute_url}}">{{p.author.name}}</a>
              </div>
              <div class="photo-attributes">
                <!-- to be implemented -->
              </div>
            </div>
        </div>
{% endfor %}
{% show_more %}
