{% extends "gallery/base.html" %}
{% load staticfiles i18n %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block bootstrap3_title %}{{ block.super }}
{% if "author" in request.path %}
 | {{author.name}}'s photos
{% endif %}
{% endblock bootstrap3_title%}


{% block menubar_extra %}
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gallery:date' %}">Date</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'gallery:author_list' %}">Authors</a>
  </li>
  <!--<li class="nav-item">
    <form name="userform" onsubmit="return submituser();">
      <input type="text" id="author" name="author" list="authors-list"
             placeholder="e.g. jeange">
      <input type="submit" value="OK">
    </form>
  </li>-->

<datalist id="authors-list">
  {% for u in user_list %}
    <option value='{{u.get_absolute_url}}'>{{u.name}}</option>
  {% endfor %}
  </datalist>
{% endblock menubar_extra %}

{% block content %}
{% if photo_list %}
    {% include page_template %}
{% else %}
    <p>No photo available</p>
{% endif %}

{% endblock content%}

{% block bootstrap3_extra_script %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}el-pagination/js/el-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: true});</script>

    <script>
      function submituser() {
        location.href = author.value
      }
    </script>
{% endblock bootstrap3_extra_script %}
